<div *ngIf="control">
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input matInput [required]="isRequired"
     [type]="type" 
     [formControl]="control"  
     [disabled]="disabled"
     (input)="onInput($event)"
     />
  
  </mat-form-field>
  
  <app-input-validations [customErrorMessages]="customErrorMessages" [errors]="control.errors">
  </app-input-validations>
  <div>
    Dirty: {{ control.dirty }}
  </div>
  <div>
    Touched: {{ control.touched }}
  </div>
  <div>
    Invalid: {{ control.invalid }}
  </div>
  <div>
    control value:{{control.value}}<br>
    isdisabled:{{control.disabled}}
  </div>
<br/>
  
</div>