<div class="text-center">
  <mat-card class="card">
    <p>Mat-Input</p>
    <form [formGroup]="formGroup">
      <app-inputfield
        [customErrorMessages]="errorMessages"
        label="First Name"
        formControlName="firstname"
        [appearance]="appearance"
      ></app-inputfield>

      <app-inputfield
        [customErrorMessages]="errorMessagesl"
        label="Last Name"
        formControlName="lastname"
        [appearance]="appearance1"
      ></app-inputfield>
      <div>
        app ::{{ formGroup.get('lastname')?.value || "null"}}
      </div>
      <app-inputfield
      *ngIf="formGroup.get('age')" 
      label="Age"
      formControlName="age"
      [appearance]="appearance"
      
    ></app-inputfield>
    
    <div *ngIf="formGroup.get('age')" >
      app :: {{ formGroup.get('age')?.value || "null"}}
    </div>
      <button mat-button type="submit" (click)="onSubmit()">Submit</button>
    </form>
    
    <pre>{{ formGroup.value | json }}</pre>
  </mat-card>
</div>
<router-outlet></router-outlet>


