<div class="text-center">
  <mat-card class="card">
    <p>Mat-Input</p>
    <form [formGroup]="formGroup">
      <app-inputfield
        [customErrorMessages]="errorMessages"
        label="First Name"
        formControlName="firstname"
        [appearance]="appearance"
        [disabled]="true"
      ></app-inputfield>
    
      <app-inputfield
        [customErrorMessages]="errorMessagesl"
        label="Last Name"
        formControlName="lastname"
        [appearance]="appearance1"
      ></app-inputfield>
      <button mat-button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  
  </mat-card>
</div>



<router-outlet></router-outlet>


